.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  /* Location of the Image */  
    /* background-image: url(img/background.jpg); */
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set's background color that will be displayed
     while the background image is loading */
  background-color: #464646;
}
li{
    color: #007bff;
}
h1{
    color: #007bff;
}
h2{
    color: white;
    background-color: #007bff;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: darkgray;
    color: white;
  }
  .card-img-6{
      float: right;
      }
label {
        display: inline-block;
        margin-bottom: .5rem;
        color: black
    }
      




      